<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> List please</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">List please</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-item lines="none">
      <ion-input
        clearInput
        type="text"
        placeholder="New product..."
        #item
      ></ion-input>
      <ion-button
        clear
        item-right
        color="tertiary"
        (click)="addItem(item.value)"
        (click)="item.value = ''"
        ><ion-icon name="add"></ion-icon
      ></ion-button>
    </ion-item>

    <ion-grid class="ion-margin" [hidden]="foodItems.length == 0">
      <ion-row *ngFor="let item of foodItems; index as i">
        <ion-col size="10">{{ item.product }}</ion-col>
        <ion-col size="2"
          ><ion-button
            (click)="deleteListItem(item)"
            size="small"
            color="tertiary"
            ><ion-icon name="trash"></ion-icon></ion-button
        ></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
